
@import url(https://fonts.googleapis.com/css?family=Titillium+Web&display=swap);
body{
  background-color:#fff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.3em;
  color: #333a44;
}
h1, h2, h3 {
   font-size: 1.3em;
}
a {
    text-decoration: none;
    color: #333a44;
}
main {
    margin: 0 auto;
    width: 100%;
}
.region-header {
    margin: 0 0 0 1em;
}
#block-dgmde25-branding img {
    width: 13em;
    margin-left: -1em;
}
#block-dgmde25-content {
    float: left;
}
#block-dgmde25-content .views-element-container .view-taxonomy-term .view-content .views-view-grid .views-row .views-col img {
    max-width: 40em;
    height: auto;
    margin: 1em;
    padding: 0;
}
#block-dgmde25-content .views-element-container .view-taxonomy-term .view-content .views-view-grid .views-row .views-col {
     max-width: 80em;
     clear: both;
     margin-right: 5em;
}
.layout-container {
    margin: 5em 5em 5em 7em;
}
.view-content {
    float: left;
    display:inline-block;
    width: 80%;
}
.view-content .views-row img {
    float: left;
    display: inline-block;
    padding: 1em 1em;
    margin: 0 0 0 0;
}
.view-content img:hover {
  opacity: 0.3;
}
.region-sidebar-second {
    float: right;
    position: relative;
    left: -5.5em;
    width: 15%;
    line-height: 2em;
}
.page-node-type-assets .layout-content {
    float: left;
    width: 70%;
    padding: 1em;
 }
.page-node-type-assets .layout-content img {
    height: 30em;
    width: auto;
}
